@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/*  --  עיצוב כללי של העמוד  --  */

*{
  margin: 0;
  padding: 0;
  border-radius: 0;
}


main{
  display: block;
  width: 100%;
  font-family: "Heebo", sans-serif;
  direction: rtl;
  
}

.upperStripe{
  height: 1vh;
  background-color: #FDBD03 ;
  display:inline-block;
  position:absolute;
  width: 25%;
  right: 0;
}
 

/*  --  עיצוב של החלק הימני של העמוד  --  */

.rightMainDiv{
  text-align: left;
  height: fit-content;
}


.imageDiv{
  display: flex;
  height: 90vh;
  justify-content: left;
  align-items: center;
}

.imageDiv>img{
  display: flex;
  position: relative;
  top: 20%;
  width: 80%;
  margin: 0;
}


/*  --  עיצוב של החלק השמאלי של העמוד  --  */


.leftMainDiv{
  text-align: right;
}


.whatsappMainDiv{
  display: block;
  position: relative;
  margin-bottom: 5vh;
  width: 45%;
  right: 65%;
  top: 5%;
  z-index: 20;
}

.whatsappLineDiv{
   width: 6%; 
  height: 6%;
  display: block;
  direction: ltr;
  align-items: center;
  text-align: center;
  justify-self: center;
}


/* .bi-whatsapp{ */
.bi{
  direction: ltr;
  font-size: 2.5rem;
  background-color: #FDBD03;
  background-size: 50vh;
  display: inline-block;
  position: relative;
  height: 7vh;
  width: 7vh;
  text-align: center;
  border-radius: 5vh 5vh;
  line-height: -0.5rem;
  padding-top: 3%;
 }

.bi:hover{
  color: #FDBD03;
  background-color: black;
}

a:link, a:active,a:visited{
  text-decoration: none;
  color: black;
}



/* --  חלק של הטופס  -- */

.formDiv{
  margin: 5vh 10vh;
  z-index: 20;
}

h1{
  font-size: 4rem;
  color: #FDBD03;
}

.lead{
  font-size: 2rem;
}

label{
  font-size: 1rem;
}

label[for=name],label[for=email]{
  margin-top: 3vh;
}

input[type=name]{
  display: inline-block;
  position: relative;
  left: 4%;
  height: 2.5rem;
  border: none;
  border-radius: 0;
  background-color: #E5EEFF;
}

input[type=email]{
  display: inline-block;
  position: relative;
  left: 1%;
  width: 104%;
  height: 2.5rem;
  border: none;
  border-radius: 0;
  background-color: #E5EEFF;
}


.underLine{
  height: 0.5vh;
  width: 100%;
  background-color: #FDBD03;
  margin-bottom: 4vh;
  
}

#formRightDiv>.underLine{
  justify-self: start;
  position: relative;
  left: 4%;
}

#formLeftDiv>.underLine{
  width: 104%;
  position: relative;
  left: 1%;
}

select{
  height: 3.5rem;
  background-color: #E5EEFF;
}

#selectDiv>.underLine{
  position: relative;
  bottom: 0.3vh;
  height: 0.5vh;
}

.textArea{
  border: none;
  border-radius: 0;
  background: #E5EEFF;
}

#textareaDiv>.underLine{
  position: relative;
  bottom: 0.5vh;
}

button{
  display: inline-flex;
  position: relative;
  text-align: right;
}

.btn{
  background-color: #FDBD03;
  color: black;
  border: 1px solid #FDBD03;
  font-weight: bold;
  margin-bottom: 5vh;
}

.btn:hover{
  background-color: black;
  color: #FDBD03;
  border: 1px solid #FDBD03;
}

.btn:active{
  background-color: black;
  color: #FDBD03;
  border: 1px solid #FDBD03;
}


/*  --  חלק תחתון של הצד השמאלי  --  */

.socialIcons{
  display: block;
  position: relative;
  margin-bottom: 5vh;
  width: 65%;
  right: 25%;
  z-index: 20;

}

.socialIcons>.s-icon{
  width: 100%;
  height: 5vh;
  display: block;
  background-color: #FDBD03;
  direction: ltr;
  padding: 2vh 0;
  right: 50%;
}

.socialIcons>.s-icon:nth-child(2){
  background-color: #FDBD03;
}



footer{
  width: 100%;
  display: flex;
  flex-direction: row;
}



.LowerStripeContainer{
  display: flex;
  position: relative;
  position: absolute;
  height: 1vh;
  width: inherit;
  z-index: 1;
}

.lowerStripe{
  display: flex;
  position: relative;
  background-color: #FDBD03 ;
  left: 0;
  right: 50%;
  height: inherit;
  bottom: 0;
  width: 100%;
}






/*  ===================================  */
/*  ===================================  */
/*  ===================================  */



/*  --  עיצוב למסכים רגילים  --  */
@media screen and (max-width:1024px) {
  .socialIconsContainer{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    left: 20%;
  }

}


/*  --  עיצוב לטאבלטים  --  */
@media screen and (max-width:768px) {
  
  .upperStripe{
    width: 50%;
  }
 
    /*  */

  .rightMainDiv{
    text-align: center;
    margin-bottom: 15vh;
  }


  .imageDiv{
    display: flex;
    height: 40vh;
    justify-content: center;
    align-items:center ;
  }

  .imageDiv>img{
    display: flex;
    position: relative;
    margin: auto;
    width: 40%;
    margin: 0;
  }


  /*  */

  .leftMainDiv{
    display: flex;
    position: relative;
    justify-content: center;
  }


  .whatsappMainDiv{
    display: none;
  }

  h1{
    font-size: 2.5rem;
  }

  .lead{
    font-size: 1.5rem;
  }

  /*  */

  .formDiv{
    display: flex;
    flex-direction: column;
    margin: 4vh;
  }
    
  #formRightDiv{
    margin-right: 3%;
  }

  #formRightDiv>label{
    position: relative;
    width: 100%;
    left: 1%;
  }

  input[type=name]{
    width: 103%;
    margin: auto;
  }

  
  #formRightDiv>.underLine{
    width: 103%;
  }

  /*  */

    
  .socialIcons{
    display: block;
    position: relative;
    margin-bottom: 5vh;
    width: 100%;
  }

}


/*  --  עיצוב למסכים קטנים  --  */
@media screen and (max-width:450px) {
  
  
  .rightMainDiv{
    margin-bottom: 10vh;
  }


  .imageDiv{
    height: 30vh;
  }

  .imageDiv>img{
    width: 60%;
  }

  /*  */

  .formDiv{
    width: 100%;
    margin: auto;
    margin-bottom: 2vh;
  }

  h1{
    font-size: 2rem;
  }

  .lead{
    font-size: 1rem;
  }

  /*  */

  #formRightDiv>label{
    left: 0%;
    right: 1%;
  }

  #name, #email{
    height: 0.5rem;
  }

  /*  */

    
  .socialIcons{
    display: block;
    position: relative;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    padding: 0;
    margin-bottom: 3vh;
  }


  .bi{
    font-size: 1.5rem;
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    padding-top: 15%;
    margin: auto;
  }

}